

.frost {
	color: $frost !important;
}

.charcoal {
	color: $charcoal !important;
}

.mustard {
	color: $mustard !important;
}

.dark-navy {
	color: $dark-navy !important;
}

.sea-blue {
	color: $sea-blue !important;
}

.silver {
	color: $silver !important;
}

.cloudy {
	color: $cloudy !important;
}

.white {
	color: white !important;
}