@font-face {
	font-family: 'Avenir';
	src: url('../fonts/Avenir/AvenirLTStd-Roman.eot');
	src: url('../fonts/Avenir/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir/AvenirLTStd-Roman.woff2') format('woff2'),
		url('../fonts/Avenir/AvenirLTStd-Roman.woff') format('woff'),
		url('../fonts/Avenir/AvenirLTStd-Roman.ttf') format('truetype'),
		url('../fonts/Avenir/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Light';
	src: url('../fonts/Avenir/AvenirLTStd-Light.eot');
	src: url('../fonts/Avenir/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir/AvenirLTStd-Light.woff2') format('woff2'),
		url('../fonts/Avenir/AvenirLTStd-Light.woff') format('woff'),
		url('../fonts/Avenir/AvenirLTStd-Light.ttf') format('truetype'),
		url('../fonts/Avenir/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Avenir-Book';
	src: url('../fonts/Avenir/AvenirLTStd-Book.eot');
	src: url('../fonts/Avenir/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir/AvenirLTStd-Book.woff2') format('woff2'),
		url('../fonts/Avenir/AvenirLTStd-Book.woff') format('woff'),
		url('../fonts/Avenir/AvenirLTStd-Book.ttf') format('truetype'),
		url('../fonts/Avenir/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Black';
	src: url('../fonts/Avenir/AvenirLTStd-Black.eot');
	src: url('../fonts/Avenir/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir/AvenirLTStd-Black.woff2') format('woff2'),
		url('../fonts/Avenir/AvenirLTStd-Black.woff') format('woff'),
		url('../fonts/Avenir/AvenirLTStd-Black.ttf') format('truetype'),
		url('../fonts/Avenir/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Heavy';
	src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot');
	src: url('../fonts/Avenir/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Avenir/AvenirLTStd-Heavy.woff2') format('woff2'),
		url('../fonts/Avenir/AvenirLTStd-Heavy.woff') format('woff'),
		url('../fonts/Avenir/AvenirLTStd-Heavy.ttf') format('truetype'),
		url('../fonts/Avenir/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Regular.eot');
	src: url('../fonts/Graphik/Graphik-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Regular.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Regular.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Regular.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Regular.svg#Graphik-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Thin.eot');
	src: url('../fonts/Graphik/Graphik-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Thin.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Thin.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Thin.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Thin.svg#Graphik-Thin') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-MediumItalic.eot');
	src: url('../fonts/Graphik/Graphik-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-MediumItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-MediumItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-MediumItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-MediumItalic.svg#Graphik-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-BlackItalic.eot');
	src: url('../fonts/Graphik/Graphik-BlackItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-BlackItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-BlackItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-BlackItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-BlackItalic.svg#Graphik-BlackItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Semibold.eot');
	src: url('../fonts/Graphik/Graphik-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Semibold.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Semibold.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Semibold.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Semibold.svg#Graphik-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Light.eot');
	src: url('../fonts/Graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Light.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Light.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Light.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Light.svg#Graphik-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-SemiboldItalic.eot');
	src: url('../fonts/Graphik/Graphik-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-SemiboldItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-SemiboldItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-SemiboldItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-SemiboldItalic.svg#Graphik-SemiboldItalic') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik Super';
	src: url('../fonts/Graphik/Graphik-Super.eot');
	src: url('../fonts/Graphik/Graphik-Super.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Super.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Super.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Super.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Super.svg#Graphik-Super') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-ExtralightItalic.eot');
	src: url('../fonts/Graphik/Graphik-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-ExtralightItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-ExtralightItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-ExtralightItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-ExtralightItalic.svg#Graphik-ExtralightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-LightItalic.eot');
	src: url('../fonts/Graphik/Graphik-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-LightItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-LightItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-LightItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-LightItalic.svg#Graphik-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Medium.eot');
	src: url('../fonts/Graphik/Graphik-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Medium.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Medium.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Medium.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Medium.svg#Graphik-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Bold.eot');
	src: url('../fonts/Graphik/Graphik-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Bold.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Bold.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Bold.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Bold.svg#Graphik-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik Super';
	src: url('../fonts/Graphik/Graphik-SuperItalic.eot');
	src: url('../fonts/Graphik/Graphik-SuperItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-SuperItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-SuperItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-SuperItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-SuperItalic.svg#Graphik-SuperItalic') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-RegularItalic.eot');
	src: url('../fonts/Graphik/Graphik-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-RegularItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-RegularItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-RegularItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-RegularItalic.svg#Graphik-RegularItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Black.eot');
	src: url('../fonts/Graphik/Graphik-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Black.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Black.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Black.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Black.svg#Graphik-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-ThinItalic.eot');
	src: url('../fonts/Graphik/Graphik-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-ThinItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-ThinItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-ThinItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-ThinItalic.svg#Graphik-ThinItalic') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-Extralight.eot');
	src: url('../fonts/Graphik/Graphik-Extralight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-Extralight.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-Extralight.woff') format('woff'),
		url('../fonts/Graphik/Graphik-Extralight.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-Extralight.svg#Graphik-Extralight') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Graphik';
	src: url('../fonts/Graphik/Graphik-BoldItalic.eot');
	src: url('../fonts/Graphik/Graphik-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Graphik/Graphik-BoldItalic.woff2') format('woff2'),
		url('../fonts/Graphik/Graphik-BoldItalic.woff') format('woff'),
		url('../fonts/Graphik/Graphik-BoldItalic.ttf') format('truetype'),
		url('../fonts/Graphik/Graphik-BoldItalic.svg#Graphik-BoldItalic') format('svg');
	font-weight: bold;
	font-style: italic;
}

