// Styling for the footer

footer,
.footer {
    background: #191919;
    padding: 60px 0;

    @media (max-width: 768px) {
        padding: 60px 15px;
    }

    .section-text {
        color: white !important;
    }

    h5 {
        color: #EDEDED;
        font-size: 11px;
        letter-spacing: 3px;
        font-weight: 600;
        @include graphik;
        text-transform: uppercase;
    }

    p:not(.section-text) {
        letter-spacing: 0.8px;
        font-size: 15px;
        font-weight: 200;
        color: #A3A3A3;
        @include sans-serif-font;
    }

    .branding {
        height: 40px;
        width: auto;
        max-width: 100%;
    }

    .copyright {
        margin-top: 75px;

        p {
            font-size: 11px;
            font-weight: 100;
            color: #a3a3a3;
            letter-spacing: 1px;
            @include graphik;

            p {
                text-align: center;
            }

            a {
                color: $mustard;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }
}

@media (max-width: 768px) {
    .branding {
        margin: 0 auto;
        display: table;
        margin-top: 100px;
    }

    .mobile {
        display: block !important;
    }

    .desktop {
        display: none !important;
    }

    .row.mx-auto {
        width: 100%;
    }
}
