
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: 20px;
    color: $gray-dark;
    overflow-x: hidden;
    @include graphik;
}

p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 1.5;
    margin: 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
    @include sans-serif-font;
}

h1 {
    font-size: 58px;
    letter-spacing: 0.6px;
}

h2 {
    font-size: 36px;
    letter-spacing: 0.6px;
    line-height: 1.1;
}

h4 {
    font-size: 28px;
    letter-spacing: 0.6px;
    line-height: 1.1;
}

h5 {
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 600;
    @include graphik;
}

p {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #4c4f54;
}

a {
    @include transition-all;
    text-decoration: none !important;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

img {
    height: auto;
    max-width: 100%;
}

figure {
    margin: 1em 0;
}

blockquote {
    font-style: italic;
    color: $gray-light;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

embed,
iframe,
object {
    max-width: 100%;
}

.section-heading {
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
}

.caption {
    font-size: 14px;
    font-style: italic;
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

::-moz-selection {
    color: white;
    background: $theme-primary;
    text-shadow: none;
}

::selection {
    color: white;
    background: $theme-primary;
    text-shadow: none;
}

img::selection {
    color: white;
    background: transparent;
}

img::-moz-selection {
    color: white;
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-primary;
}

section,
footer {
    padding: 40px 0;
    overflow: hidden;

    @media(max-width: 768px) {
        overflow: initial;
    }
}

