
.hero {
    height: 500px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: no-repeat 50%;
    background-image: url('../../assets/images/home/hero/Hero.png');
    background-attachment: scroll;
    background-size: cover;
    transition: all 0.2s linear;
    position: relative;
    @media (max-width: 768px) {
		height: 300px;
	}

	h1 {
		display: table-cell;
	    vertical-align: middle;
	    font-size: 70px;
	    color: #fff;
	    line-height: 1.2;
	    text-align: center;
	    @include header-font;

    	@media (max-width: 768px) {
			font-size: 30px;
		}

		@media (max-width: 575px) {
			padding: 0 10px;
		}
	}

	.case-study {
	    color: white;
	    position: absolute;
	    bottom: 35px;
	    font-weight: 300;
	    font-size: 14px;
	    letter-spacing: 4px;	
	    @include sans-serif-font;

	    &:hover {
	    	text-decoration: none;
	    }
	}
}

.intro {
	h1 {
    	font-size: 60px;
    	line-height: 1.3;
    	font-weight: 500;
		@include header-font;

		@media (max-width: 575px) {
			font-size: 40px;
		}
	}

	p {
		font-size: 24px;
		@include sans-serif-font;
	    font-weight: 300;
	    letter-spacing: 2px;
	    line-height: 1.8;

	    @media (max-width: 768px) {
			line-height: 1.5;
		}

		@media (max-width: 575px) {
			font-size: 20px;
		}
	}
}

.what-we-do {
	h2 {
		font-size: 40px;
    	letter-spacing: 1px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	h4 {
    	font-size: 50px;
    	letter-spacing: 1px;
		@include header-font;
	}

	p {
		font-size: 24px;
	    font-weight: 300;
	    letter-spacing: 1px;
		@include sans-serif-font;
	}
}

.break {
	height: 500px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
	background-image: url('../../assets/images/home/bg/Team.png');
}

.recent-projects {
	h2 {
		font-size: 40px;
    	letter-spacing: 1px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	.case-study-item {
		padding-right: 0 !important;
	    padding-left: 0 !important;

	    .card {
	    	border: none;
    		border-radius: 0;

    		&:hover {
    			.card-img-overlay {
					opacity: 1;
				}
    		}

    		img {
    			transition: all 0.2s linear;
		    	object-fit: cover;
		    	max-height: 100%;
		    	height: 415px;

		    	@media (max-width: 575px) {
			        max-height: 100%;
		    		height: 210px;
				}
		    }

    		.card-img {
			    border-radius: 0;
			}

			.card-img-overlay {
				opacity: 0;
				padding: 2rem;
				transition: all 0.2s linear;
			    background: rgba(14, 24, 32, .9);

			    @media (max-width: 575px) {
			     	opacity: 1;
				}
			}

			.card-title {
			    color: #fff;
			    letter-spacing: 2px;
			    font-size: 45px;
			    line-height: 1.3;
			    @include header-font;

			    @media (max-width: 768px) {
			        font-size: 25px;
				}
			}
	    }
	}
}

.selected-clients {
	h2 {
		font-size: 40px;
    	letter-spacing: 1px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	.client-item {
		width: 100%;
		min-height: 90px;

    	img {
		    width: 90px;
		    height: auto;
    	}
	}
}

.say-hello {
	h2 {
		font-size: 40px;
    	letter-spacing: 1px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	ul {
		li {
			display: inline-block;
			margin-right: 40px;
    		margin-left: 40px;

    		@media (max-width: 768px) {
				margin-right: 20px;
    			margin-left: 20px;
			}

			a {
				display: block;
    			padding: 10px;
			}
		}
	}

	@media (max-width: 768px) {
 		.section-text {
 			font-size: 20px !important;
 		}
	}
}

.follow-us {
	nav {
		display: table;
		margin-bottom: 40px;

		.nav-link {
			float: left;
			font-size: 18px;
			padding: 0.25em 1em;
			@include sans-serif-font();

			&:not(:last-child) {
			    border-right:1px solid #E4E4E4;
			}

			@media (max-width: 768px) {
		        float: none;

		        &:not(:last-child) {
				    border-right: none;
				}
			}
		}
	}

	.insta-feed {
		.image {
		    position:relative;
		    overflow:hidden;
		    padding-bottom: 100%;

		    img {
		      position: absolute;
		      max-width: 100%;
		      top: 50%;
		      left: 50%;
		      height: 100%;
		      transform: translateX(-50%) translateY(-50%);
		  	}
		}
	}
}

