
.our-team-hero {
	.content {
		height: 600px;
	    width: 100%;
	    display: inline-flex;
	    position: relative;
	    justify-content: center;
	    transition: all 0.2s linear;

	    @media (max-width: 768px) {
			height: 400px;
		}

		img {
			object-fit: cover;
		}

		h1 {
			display: inline-block;
		    font-size: 70px;
		    color: #fff;
		    line-height: 1.2;
		    text-align: center;
		    @include header-font;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    transform: translate(-50%,-50%);

			@media (max-width: 768px) {
				font-size: 35px;
			}
		}
	}
}

.our-team {
	h2 {
		font-size: 32px;
    	letter-spacing: 0.6px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	.card-block {
	    padding: 0.8rem;
	}

	.card-title {
		font-size: 18px;
	}

	.card-text {
		font-size: 14px;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
	    font-weight: 300;
	    letter-spacing: 1px;
	}
}

.our-team-carousel {
	.content {
		max-height: 600px;
	    width: 100%;
	    display: inline-flex;
	    position: relative;
	    justify-content: center;
	    transition: all 0.2s linear;

		img {
			width: 100%;
			object-fit: cover;
			height: 600px;

			@media (max-width: 768px) {
				height: 400px;
			}
		}

		.slick-next:before,
		.slick-prev:before {
		    content: "";
		}

		.slick-prev,
		.slick-next {
		    font-size: 0 !important;
		    position: absolute;
		    color: white;
		    height: 25px;
		    z-index: 1000;
		   	display: inline-block;
		    font: normal normal normal 25px/1 'Black Tie';
		    font-size: inherit;
		    vertical-align: -14.28571429%;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    transform: translate(0);
		    transition: margin-top 0.2s linear;
		    &:hover {
		    	margin-top: 5px;
		    }
		}

		.slick-prev {
		    left: 20px;
		}

		.slick-prev:after {
			content: "\F092";
		    font: normal normal normal 25px/1 'Black Tie';
		}

		.slick-next {
		    right: 20px;
		    text-align: right;
		}

		.slick-next:after {
			content: "\F093";
		    font: normal normal normal 25px/1 'Black Tie';
		}

		.slick-prev:hover:after,
		.slick-next:hover:after {
		    color: white;
		}
	}
}

.map {
	.content {
		height: 600px;
	    width: 100%;
	    display: inline-flex;
	    position: relative;
	    justify-content: center;
	    transition: all 0.2s linear;

	    @media (max-width: 768px) {
			height: 400px;
		}

		img {
			object-fit: cover;
		}
	}
}