
.our-team-hero {
    height: 500px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: no-repeat 50%;
    background-image: url('../../assets/images/our-team/our-team-hero.png');
    background-attachment: scroll;
    background-size: cover;
    transition: all 0.2s linear;
    position: relative;
    @media (max-width: 768px) {
		height: 300px;
	}

	h1 {
		display: table-cell;
	    vertical-align: middle;
	    font-size: 70px;
	    color: #fff;
	    line-height: 1.2;
	    text-align: center;
	    @include header-font;

    	@media (max-width: 768px) {
			font-size: 30px;
		}
	}
}

.intro {
	p:first-of-type {
		margin-top: 50px;

		@media (max-width: 768px) {
			margin-top: 0;
		}
	}

	.sub-text {
		font-size: 18px;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
	    font-weight: 300;
		color: $dark-navy;

		@media (max-width: 768px) {
			color: $cloudy;
		}
	}
}

.masonry-gallery {
	.card-columns:first-of-type {
		column-count: 1;
	}
	.card-columns {
		column-count: 2;
		column-gap: 10px;

		@media (max-width: 576px) {
			column-count: 1;
		}

		.card {
			border: 0 !important;
    		border-radius: 0 !important;

    		@media (max-width: 576px) {
    			margin-bottom: 10px;
			}

			.card-img-top {
			    border-radius: 0 !important;
			}
			img {
				width: 100%;

				@media (max-width: 576px) {
					object-fit: cover;
    				height: 240px;
				}
			}
		}
	}
}

.our-team {
	h2 {
		font-size: 40px;
    	letter-spacing: 1px;
    	@include header-font;

    	@media (max-width: 768px) {
    		font-size: 28px;
		}
	}

	.card-block {
	    padding: 0.8rem;
	}

	.card-title {
		font-size: 18px;
	}

	.card-text {
		font-size: 14px;
	    font-family: Helvetica Neue,Helvetica,Arial,sans-serif!important;
	    font-weight: 300;
	    letter-spacing: 1px;
	}
}

.stay-in-touch {
	h2 {
		font-size: 44px;
		letter-spacing: 1px;
		text-align: center;
		@include header-font;
	}

	@media (max-width: 768px) {

		h2 {
			font-size: 34px;
			text-align: left;
			padding-right: 50px;
		}

		.icon-arrow {
			display: none !important;
		}
	}
}