
.widget_g7_mobile_navigation {
    h5 {
        color: #98AFC2;
        font-size: 11px;
        letter-spacing: 3px;
        font-weight: 600;
        @include graphik;
    }
    h4, h6 {
        color: #98AFC2;
        font-weight: 400;
        @include sans-serif-font;
    }

    p {
        color: #A3A3A3;
        @include sans-serif-font;
    }

    hr {
		border-top: 1px solid #272727;
    }
}