// Styling for the navbar
#mainNav {
    position: absolute;
    @include sans-serif-font;
    background: #ced0cb;

    > .container {
        width: 100% !important;

        // .navbar-collapse.collapse.show {
        //     background: #191919;
        //     position: fixed;
        //     top: 0;
        //     left: 0;
        //     right: 0;
        //     height: 500px;

        //     .nav-link {
        //         color: white;
        //     }
        // }
    }

    .navbar-brand {
        font-weight: 800;
        color: $gray-light;
        width: 90px;
        height: 51px;
        padding: 0 !important;
        background-image: url('../static/images/logo/G7Logo_white_gold_circle.png');
        background-size: 100%;

        @media (max-width: 991px) {
            width: 44px;
            height: 28px;
        }
    }
    .navbar-toggler {
        font-size: 12px;
        font-weight: 800;
        padding: 0;
        text-transform: uppercase;
        color: white;
        border: none;
    }
    .navbar-nav {
        > li.nav-item {
            > a {
                font-size: 12px;
                font-weight: 400;
                letter-spacing: 1px;
                @include sans-serif-font;
            }
        }
    }
    @media only screen and (min-width: 992px) {
        border-bottom: 1px solid transparent;
        background: transparent;
        .navbar-brand {
            padding: 15px 20px;
            color: white;
            &:hover,
            &:focus {
                color: fade-out(white, .2);
            }
        }
        .navbar-nav {
            > li.nav-item {
                > a {
                    padding: 15px 20px;
                    color: white;
                    &:hover,
                    &:focus {
                        color: fade-out(white, .2);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 1170px) {
        -webkit-transition: background-color .2s;
        -moz-transition: background-color .2s;
        transition: background-color .2s;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
        -o-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
        &.is-fixed {
            /* when the user scrolls down, we hide the header right above the viewport */
            position: fixed;
            top: -77px;
            -webkit-transition: -webkit-transform .2s;
            -moz-transition: -moz-transform .2s;
            transition: transform .2s;
            border-bottom: 1px solid darken(white, .05);
            background-color: fade-out(white, .1);
            .navbar-brand {
                color: $gray-dark;
                &:hover,
                &:focus {
                    color: $theme-primary;
                }
            }
            .navbar-nav {
                > li.nav-item {
                    > a {
                        color: $gray-dark;
                        &:hover,
                        &:focus {
                            color: $theme-primary;
                        }
                    }
                }
            }
        }
        &.is-visible {
            /* if the user changes the scrolling direction, we show the header */
            -webkit-transform: translate3d(0, 100%, 0);
            -moz-transform: translate3d(0, 100%, 0);
            -ms-transform: translate3d(0, 100%, 0);
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
    }
}


@media (max-width: 991px) {
    .navbar-toggleable-md>.container {
        @media (max-width: 991px) {
            margin: 0 !important;
        }
    }
}